[submodule "Associates/ThirdParty/spdlog"]
	path = Associates/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Associates/ThirdParty/GLFW"]
	path = Associates/ThirdParty/GLFW
	url = https://github.com/glfw/glfw
